@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&family=Titillium+Web:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;600&family=Ubuntu:wght@300&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

#app-main {
  background-image: url("./mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.7;

  /* position: absolute;
  width: 100%;
  height: 1090.08px;

  left: 0px;
  top: 0px; */
}
.logo {
  position: absolute;
  left: 5.21%;
  right: 77.87%;
  top: 15px;
  bottom: 97.42%;
}

.btn-manual {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;

  position: static;
  width: 100px;
  height: 30px;
  right: 0px;
  top: calc(50% - 60px / 2);

  /* Secondary */

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 40px;
}

.home {
  position: absolute;
  width: 795px;
  height: 271px;
  left: 350px;
  top: 170px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 110px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.subquote {
  position: absolute;
  width: 462px;
  height: 68px;
  left: 450px;
  top: 420px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  /* or 33px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.search {
  position: absolute;
  width: 960px;
  height: 100px;
  left: 200px;
  top: 510px;

  background: linear-gradient(
    94.43deg,
    rgba(249, 249, 249, 0.49) 34.95%,
    rgba(249, 249, 249, 0.175) 67.01%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}

.exploreTxt {
  position: absolute;
  width: 500px;
  height: 70px;
  left: 69px;
  top: 69px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  /* or 70px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.exploreMain {
  position: relative;
  width: 1152px;
  height: 700px;
  left: 100px;
  border-radius: 25px;
  background: #ffffff;
}

.subexplore {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 69px;
  top: 164px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  /* or 20px */

  display: flex;
  align-items: center;

  color: #000000;
}

.room1 {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 65px;
  top: 270px;

  background: url(room1.png);
  border-radius: 25px;
}

.room2 {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 595px;
  top: 270px;

  background: url(room2.png);
  border-radius: 25px;
}

.roominfo1 {
  position: absolute;
  width: 424px;
  height: 100px;
  left: 91px;
  top: 520px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.roominfo2 {
  position: absolute;
  width: 424px;
  height: 100px;
  left: 625px;
  top: 520px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.roomtext1 {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 20px;
  top: 10px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;

  color: #000000;
}

.roomtext2 {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 20px;
  top: 10px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;

  color: #000000;
}

.r1price {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 20px;
  top: 40px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

.r1size {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 140px;
  top: 40px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

.r1book {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 280px;
  top: 25px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

.r2price {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 20px;
  top: 40px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

.r2size {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 140px;
  top: 40px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

.r2book {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 280px;
  top: 25px;
  text-align: center;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
}

/* *******************About page css********************* */

.aboutMain {
  position: relative;
  width: 1152px;
  height: 700px;
  left: 100px;
  border-radius: 25px;
  background: #ffffff;
}

.aboutTxt {
  position: absolute;
  width: 290px;
  height: 70px;
  left: 55px;
  top: 69px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  /* or 70px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.desc1 {
  position: absolute;
  width: 400px;
  height: 266.99px;
  left: 98px;
  top: 210px;

  background: url(desc1.png);
  border-radius: 15px;
}

.desc2 {
  position: absolute;
  width: 500px;
  height: 333.74px;
  left: 555px;
  top: 203px;

  background: url(desc2.png);
  border-radius: 15px;
}

.desc3 {
  position: absolute;
  width: 400px;
  height: 289.58px;
  left: 98px;
  top: 556px;

  background: url(desc3.png);
  border-radius: 15px;
}

.desc4 {
  position: absolute;
  width: 500px;
  height: 295px;
  left: 555px;
  top: 622px;
  background-repeat: no-repeat;

  background: url(desc1.png);
  border-radius: 5px;
}

.descinfo1 {
  position: absolute;
  width: 350px;
  height: 100px;
  left: 123px;
  top: 420px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.descinfo2 {
  position: absolute;
  width: 350px;
  height: 100px;
  left: 587px;
  top: 487px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.descinfo3 {
  position: absolute;
  width: 350px;
  height: 100px;
  left: 123px;
  top: 790px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.descinfo4 {
  position: absolute;
  width: 350px;
  height: 100px;
  left: 605px;
  top: 832px;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}

.descT1 {
  position: absolute;
  width: 121px;
  height: 26px;
  left: 20px;
  top: 15px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */

  display: flex;
  align-items: center;

  color: #000000;
}

.descT2 {
  position: absolute;
  width: 113px;
  height: 26px;
  left: 20px;
  top: 15px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */

  display: flex;
  align-items: center;

  color: #000000;
}

.descT3 {
  position: absolute;
  width: 121px;
  height: 26px;
  left: 20px;
  top: 15px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */

  display: flex;
  align-items: center;

  color: #000000;
}

.descT4 {
  position: absolute;
  width: 123px;
  height: 26px;
  left: 20px;
  top: 15px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */

  display: flex;
  align-items: center;

  color: #000000;
}

.desct1 {
  position: absolute;
  top: 50px;
  left: 20px;
}

.desct2 {
  position: absolute;
  top: 50px;
  left: 20px;
}

.desct3 {
  position: absolute;
  top: 50px;
  left: 20px;
}

.desct4 {
  position: absolute;
  top: 50px;
  left: 20px;
}

.city {
  position: absolute;
  width: 210px;
  height: 70px;
  left: 20px;
  top: 20px;

  background: #ffffff;
  border-radius: 16px;
}
.date {
  position: absolute;
  width: 210px;
  height: 70px;
  left: 255px;
  top: 20px;

  background: #ffffff;
  border-radius: 16px;
}

.dateText {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 20px;
  top: 10px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #6d6d6d;
}

.guest {
  position: absolute;
  width: 210px;
  height: 70px;
  left: 495px;
  top: 20px;

  background: #ffffff;
  border-radius: 16px;
}

.guestsText {
  position: absolute;
  width: 67px;
  height: 19px;
  left: 20px;
  top: 10px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #6d6d6d;
}

.addGuests {
  position: absolute;
  width: 185px;
  height: 33px;
  left: 20px;
  top: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;
}

.searchbox {
  position: absolute;
  width: 210px;
  height: 70px;
  left: 730px;
  top: 20px;

  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 16px;
}

.searchText {
  position: absolute;
  left: 2px;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  /* or 29px */

  display: flex;
  align-items: center;
  text-align: center;

  color: white;
  background: transparent;
  border: none;
}
.cityText {
  position: absolute;
  width: 44px;
  height: 19px;
  left: 20px;
  top: 10px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #6d6d6d;
}

.citySelect {
  position: absolute;
  width: 185px;
  height: 33px;
  left: 20px;
  top: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cefc4f;
}

.selectDate {
  position: absolute;
  width: 185px;
  height: 33px;
  left: 20px;
  top: 30px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;
}

.calendar {
  position: absolute;
  top: 30px;
  left: 180px;
  border-radius: 5px;
  border: 0.5px solid rgb(176, 243, 99);
  width: 20px;
}

.dropmenu {
  position: relative;
  top: -7px;
}
